<h1>Words List</h1>

<div>
  <%= link_to "New word", new_admin_word_path, class: "btn btn-lg btn-primary" %>
</div>

<div class="table-responsive">
  <table class="table">
    <thead>
      <td>Word</td>
      <td>Mean</td>
      <td>Category</td>
      <td></td>
      <td></td>
    </thead>
    <tbody>
      <%= will_paginate @words %>
      <% @words.each do |word| %>
        <tr>
          <td><%= word.content %></td>
          <td><%= word.content_correct_answer %></td>
          <td><%= word.category.try(:cat_name) %></td>
          <td><%= link_to "edit", edit_admin_word_path(word.id) ,class: "btn btn-success" %></td>
          <td><%= link_to "Delete", admin_word_path(word.id), method: :delete,data: {confirm: "You sure?"} , class: "btn btn-warning" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>