<% provide(:title, @user.username) %>
<h1>
  <%= gravatar_for @user %>
  <%= @user.username %>
</h1>

<div>
  <p>Learned Words: <%= @learned_words %></p>
</div>
<h1>Activities</h1>
<div class="table-responsive">
  <table class="table">
    <tbody>
      <%  @lessons.each do |lesson| %>
        <tr>
          <td> Learned <%= lesson.lesson_words.count %> words from <%= lesson.category.try(:cat_name) %>(<%= lesson.created_at %>)</td>
          <td><%= lesson.mark %> /<%= lesson.lesson_words.count %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
