
<h1>Lesson <%= @lesson.id %></h1>

<%= form_tag(result_path(@lesson.id), method: "get") do %>
  <div class="questions">
    <% @words.each_with_index do |lw, index| %>
      <div class="question_content">
        <%= index + 1 %>. What does <span>"<%= lw.content %>"</span> means?
        <ul class="answers">
          <% lw.answers.each do |as| %>
            <li>
              <%= radio_button_tag "words[#{index}]", as.id %>
              <%= as.content %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
 
  <p>
    <%= submit_tag "Submit", class: "btn btn-primary" %>
  </p>
<% end %>